.parent-container {
  height: var(--bg-height);
  display: flex;
  justify-content: center;
  position: relative;
}

.parent-container::before {
  background-image: var(--dashboard-bg-image);
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: antiquewhite;
  z-index: -1;
  filter: brightness(0.73);
}

.container {
  margin: auto;
  width: 400px;
  padding: 20px;
  border-radius: 20px;
  background-color: var(--primary-body-color-faded);
  box-shadow: var(--basic-box-shadow);
  color: var(--color-text);
  backdrop-filter: blur(5px);
}

.container > h4 {
  font-family: var(--font-aleo);
  text-align: center;
  font-weight: 800;
  font-size: 1.4rem;
  margin: 0px;
}

.form-field {
  margin-top: 30px;
}

.input-box {
  width: 100%;
}

.check {
  display: flex;
  flex-direction: row;
  margin: 0;
}

.error-icon-container {
  display: flex;
  justify-content: center;
  margin-right: 5px;
}

.error-icon {
  width: 20px;
  height: 20px;
  margin-top: auto;
  margin-bottom: auto;
}

.button {
  display: flex;
  justify-content: space-around;
}

.submit-button {
  background-color: var(--submit-btn-bg);
  padding: 5px 12px;
  border-radius: 4px;
  border: none;
  color: var(--color-text);
  width: 50%;
  transition: all 0.2s ease-in-out;
  font-family: var(--font-aleo);
}

.submit-button:hover {
  background-color: var(--submit-btn-hover);
}

.submit-button:active {
  background-color: var(--submit-btn-active);
}

@media screen and (max-width: 575px) {
  .back-container {
    position: absolute;
    left: 20px;
    top: 20%;
    padding: 3px 4px;
    border: none;
  }

  .back-txt {
    display: none;
  }

  .container {
    opacity: 1;
    width: 70%;
  }
}

@media screen and (max-height:350px) {
  .parent-container {
    height: 110%;
    padding: 10px 0px;
  }
}